.createStaff {
  width: 500px;
  height: 600px; 
  background-color: #03074f;
  box-shadow: 3px 3px 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px;
  border-radius: 15px;
}

.createStaff .title h2 {
  color: white;
  height: 100%;
  width: 100%;
  padding: 10px;  
  align-content: center;
  font-size: 26px;
  flex-wrap: wrap;
}

.createStaff .inputs {
  flex: 50%;
  width: 100%;
  padding: 5px;
}

.inputs .side_by_side {
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-evenly;
}

.inputs p {
  color: white;
  font-size: 15px;
  margin: 0px 2px 4px 5px;
}

.inputs input {
  width: 180px;
  height: 35px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
}

.inputs #submit {
  cursor: pointer;
}