.footer {
  width: 100%;
  height: max(10vh, auto);
  background-color: #03074f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: max(15px, 1rem);
}

.footer p {
  color: white;
  align-items: center;
}