.navbar {
  width: 100%;
  height: max(12vh, auto);
  background-color: #03074f;
  display: flex;
  flex-direction: row;
}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.navbar .leftSide .texts {
  display: block;
  margin: 0.5rem;
  line-height: 0.8rem;
  overflow-wrap: break-word;
  height: auto;
}

.navbar .leftSide .polemikiAerText {
  font-size: clamp(1.6rem, 1.8vh, 2rem);
  color: white;
}

.navbar .leftSide .osseayText {
  font-size: clamp(1.4  rem, 1.3vh, 1.8rem);
  position: relative;
  align-self: center;
  color: white;
}

.navbar .leftSide .maximText {
  font-size: clamp(1rem, 1vh, 1.5rem);;
  font-style: italic;
  font-weight: lighter;
  color: white;
}


.navbar .leftSide img {
  width: clamp(3rem, 4vw + 1.3rem, 10rem);
}

.navbar .rightSide {
  padding: 0px 50px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: clamp(0.8rem, 1.2vw, 2rem);
}

.navbar .rightSide button {
  display: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


.navbar #open {
  padding-left: 0px;
}

.navbar #open img {
  display: none;
}

.navbar #open .polemikiAerText {
  display: none;
}

.navbar #open .osseayText {
  display: none;
}

.navbar #open .maximText {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 75px;
  margin: 15px;
}


@media only screen and (max-width: 1000px) {
  .navbar .leftSide .polemikiAerText {
    font-size: 1.3rem;
  }

  .navbar .leftSide .osseayText {
    font-size: 1.2rem;
  }

  .navbar .leftSide .maximText {
    font-size: 0.8rem;
  }
}


@media only screen and (max-width: 800px) {
  .navbar a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .navbar .leftSide .polemikiAerText {
    font-size: 2.5dvw;
  }

  .navbar .leftSide .osseayText {
    font-size: 2.2dvw;
  }

  .navbar .leftSide .maximText {
    font-size: 1.7dvw;
  }
 
  .hiddenLinks {
    display: none;
  }
  .navbar .rightSide button {
    display: inherit;
  }

}