.createStaff {
  width: 90%;
  height: 72dvh; 
  background-color: #03074f;
  box-shadow: 3px 3px 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px;
  border-radius: 15px;
}

.createStaff .title h1 {
  color: white;
  height: 100%;
  width: 100%;
  padding: 10px;  
  align-content: center;
  font-size: 28px;
  flex-wrap: wrap;
}


.createStaff .personal_inputs {
  flex: 50%;
  width: 50%;
  padding: 5px;
  align-self: start;
  display: flex;
  justify-content:center;
  margin: 5px;
}

.personal_inputs .side_by_side {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.personal_inputs p {
  color: white;
  font-size: 15px;
  margin-left: 25px;
}

.personal_inputs input {
  width: 180px;
  height: 35px;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  padding-left: 10px;
  margin-left: 25px;
}

.personal_inputs #submit {
  cursor: pointer;
}